---
import { Image } from "astro:assets";
import ProjectDescription from "./ProjectDescription"
import SLink from "./SLink.astro";

interface Props {
    index: number,
    project: {
        name: string;
        link: string;
        description: string;
        image: ImageMetadata;
        technologies: string[];
    },
    showTechnologies?: boolean;
}

const { index, project, showTechnologies } = Astro.props;
---

<div class=`flex flex-col ${index % 2 === 0 ? "md:flex-row-reverse" : "md:flex-row"} items-center px-4 lg:px-8 gap-4 lg:gap-8 xl:gap-0 h-full`>
    <div class=`w-full h-full md:py-2 flex justify-center md:h-[230px] lg:h-[275px] xl:h-[400px]`>
        <a href={project.link} target="_blank" rel="noopener noreferrer" class="w-full h-full overflow-hidden rounded-lg xl:max-w-2xl">
            <Image src={project.image} alt={project.name} class={"w-full h-full hover:scale-110 duration-300"} />
        </a>
    </div>
    <ProjectDescription 
        project={project}
        showTechnologies={showTechnologies}
    >
        <SLink
        href={project.link}
        text="Live Demo"
        iconPosition="right"
        icon="arrow-right"
        extraStyles="text-base md:text-sm xl:text-base text-black gap-1 bg-white pl-4 pr-[6px] py-[6px] w-fit"
        iconWandH="medium"
        newPage
        />
    </ProjectDescription>
</div>